.header{
    background-color: #fff;
    padding: 15px 30px;
    position: sticky;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
}

.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
}
  
.logo a:hover {
    color: #007BFF;
}
  
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007BFF;
}

.logout-button{
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3 ease;
}

.logout-button:hover{
    color: #dc3545;
}

@media (max-width:768px){
    .header{
        flex-direction: column;
        align-items: flex-end;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
}